.inputRight {
    padding-bottom : 5%;
    text-align: right;
  font-family: "Raleway", sans-serif;

}

.man {
    padding-top : 3%;
    display: inline-block;
}

.bigWrapper {
    padding-left:10%;
    padding-top:2%;
    display: inline-block;
}

.adultProfileButton {
    padding-top: 5%;
    text-align: center;
    color: black;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
}

.inputContainer2 {
    float: right;
    text-align: center;
}
header {
    text-align: center;
    border-bottom: 1px solid black;
}